body{
  margin:0;
}
li a{
  box-sizing: border-box;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
}

li a:hover:not(.active) {
    color: blue;
  }

nav {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: #F2F2F2;
    height: 140px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    position: fixed;
    background-color: #dadada1f;
  }

li{
    display:inline;
    float:left;
    width: 160px;
  }

.active {
    color: rgb(198, 16, 16);
  }